<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ddzmitry.studenttracker">

    <!-- SEND SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ddzmitry.studenttracker.MainActivity" />
        </activity>
        <activity
            android:name=".CoursesForTermActivity"
            android:label="@string/title_activity_view_term"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ddzmitry.studenttracker.MainActivity" />
        </activity>
        <activity
            android:name=".CourseActivity"
            android:exported="true"
            android:label="@string/title_activity_course_view"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ddzmitry.studenttracker.MainActivity" />
        </activity>
        <activity
            android:name=".TermActivity"
            android:label="Term View"
            android:parentActivityName=".CoursesForTermActivity" />

        <receiver android:name=".utilities.Alerting" />

        <activity
            android:name=".AssesmentsForCourseActivity"
            android:exported="true"
            android:label="@string/title_activity_assesment"
            android:parentActivityName=".CourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ddzmitry.studenttracker.CourseActivity" />
        </activity>
        <activity
            android:name=".AssessmentActivity"
            android:exported="true"
            android:label="@string/title_activity_assessment"
            android:parentActivityName=".AssesmentsForCourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ddzmitry.studenttracker.AssesmentsForCourseActivity" />
        </activity>

        <receiver
            android:name=".MessageReciever"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>